* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(180, 255, 251);
  color: #000;
}

.Main {
  height: 60vh;
  width: 30%;
  margin-left: 43rem;
  display: grid;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(229, 184, 255);
  margin-top: 12rem;
  border-radius: 35px;
  border: 4px solid #000;
}

.Head {
  align-items: center;
  text-align: center;
  background-color: rgb(229, 184, 255);
}
.Head button {
  width: 110px;
  margin-top: 2rem;
  border: 1px solid rgb(53, 42, 42);
  border-radius: 25px;
  background-color: rgb(186, 147, 223);
}

.down {
  align-items: center;
  text-align: center;
  margin-bottom: 18rem;
  border: 1px solid black;
  background-color: rgb(187, 52, 52);
}

button:hover {
  background-color: #000;
}
