* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(84, 160, 134);
  font-family: "Lobster", cursive;
}

.backcolorst {
  height: 75px;
  width: 500px;
  margin-left: 450px;
  margin-top: 450px;
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(0, 255, 195);
  color: rgb(255, 94, 0);
  font-family: "Lobster", cursive;
  text-align: center;
}
